.content {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    padding: 3vw;
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: flex-start; /* Alinea el contenido desde la parte superior */
}

/* Esto mantendrá las tarjetas y el contenido en una columna, pero con un título centrado */
h1 {
    text-align: center;  /* Asegura que el título esté centrado */
    margin-bottom: 20px;  /* Da un pequeño margen debajo del título */
}

/* Estilos generales de las tarjetas */
.cards-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px; /* Puedes ajustar esto según el tamaño que quieras */
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
    margin: 0 auto; /* Centra las tarjetas dentro del contenedor */
}

/* Estilo de cada tarjeta */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover de la tarjeta para efecto visual */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo de los encabezados dentro de las tarjetas */
.card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo de los párrafos dentro de las tarjetas */
.card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

/* Estilo de las listas dentro de las tarjetas */
.card ul {
    padding-left: 20px;
}

.card ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
}

/* Estilos de la tarjeta específica para "Conoce más" */
.card p a {
    color: #007BFF;
    text-decoration: none;
}

.card p a:hover {
    text-decoration: underline;
}

/* Justificar el contenido en la tarjeta de "Valores" */
.valores-card {
    text-align: left; /* Justifica el texto dentro de la tarjeta */
}

/* Estilo de las listas dentro de la tarjeta de "Valores" */
.valores-card ul {
    list-style-type: disc;
    padding-left: 20px;
}

.valores-card ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
}

.valores-card ul {
    padding-left: 20px; /* Mantén el padding izquierdo para los puntos */
}

.valores-card ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px; /* Aumenta el margen entre los elementos de la lista */
}
